* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: auto;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.container{
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container button{
  border: 0;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.container button:active {
  transform: scale(0.9);
}

.chart-container{
  width: 80%;
  height: 500px;
  position: relative;
  padding: 10px;
}

.chart-container .chart{
  height: 100%;
  width: 100%;
  border: 2px solid #414141;
  border-right-width: 0px;
  border-top-width: 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}

.y-axis-label {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: -10px;
  transform: translateX(-50%) rotate(-90deg)
}

.x-axis-label{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px ;
}

.bar{
  flex: 1;
  position: relative;
}

.tool-tip{
  position: absolute;
  display: block;
  top: 0%;
  right: 50%;
  width: max-content;
  background-color: black;
  color: white;
  transform: translate(50%, -120%);
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.bar:hover .tool-tip{
  opacity: 1;
}